
###> symfony/framework-bundle ###
#/.env
#/public/bundles/
/var/
#/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
#.phpunit
#/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
#/.web-server-pid
###< symfony/web-server-bundle ###
/var
/var/*
var/
var/*
var/log/dev.log
var/cache/dev/profiler/index.csv 

src/Utils/Paypal.php