html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input-group {
  display: table;
}

.input-group i {
  display: table-cell;
  width: 20px;
  font-size: 2em;
  vertical-align: middle;
}

.input-group input {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.input-group + .input-group {
  margin-top: 15px;
}

html, body {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: #33343A;
  color: #FFF;
  font-family: Raleway;
}

.main-button {
  background-color: #ea4c88;
  color: #FFF;
  border: 0;
  padding: 10px 25px;
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
}

.main-button:hover {
  background-color: #f571a3;
}

.main-form {
  display: table;
  position: relative;
  min-width: 300px;
  min-height: 300px;
  margin: 0 auto;
  top: calc(50vh - 150px);
  background-color: rgba(255, 255, 255, 0.05);
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.24);
          box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.24);
}

.main-form h1 {
  font-size: 2em;
}

.main-form .main.material-icons {
  font-size: 5em;
  display: table;
  margin: 40px auto;
}

.main-form .input-group {
  width: 100%;
}

.main-form .input-group i {
  background-color: #393D43;
}

.main-form .input-group input {
  background-color: transparent;
  border: 0;
  padding: 0 10px;
  font-size: 1.2em;
  line-height: 2em;
  background-color: #3E4349;
  color: #FFF;
}

.main-form .main-button {
  width: 100%;
  margin-top: 15px;
}

.main-form .other_options {
  display: table;
  margin-top: 15px;
  width: 100%;
}

.main-form .other_options a {
  color: #FFF;
  display: table-cell;
  width: 50%;
}

.main-form .other_options a:nth-of-type(2) {
  text-align: right;
}

@media all and (max-width: 600px) {
  .main-form {
    height: 100vh;
    left: 0;
    width: calc(100% - 12px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
    position: relative;
    display: block;
    margin: 0;
    top: 0;
  }
  .main-form .other_options a {
    display: block;
    width: 100%;
  }
  .main-form .other_options a:nth-of-type(2) {
    text-align: left;
  }
  .main-form .other_options a + a {
    margin-top: 15px;
  }
}
/*# sourceMappingURL=login.css.map */