{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h1 class="page-title"> Tu cesta.
        <small>¡Aquí puedes comprar los productos que quieras!</small>
    </h1>
    

   
{% endblock %}