html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input-group {
  display: table;
}

.input-group i {
  display: table-cell;
  width: 20px;
  font-size: 2em;
  vertical-align: middle;
}

.input-group input {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.input-group + .input-group {
  margin-top: 15px;
}

html, body {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  color: #333;
  font-family: Raleway;
}

.main-button {
  background-color: #9f4cea;
  color: #FFF;
  border: 0;
  padding: 10px 25px;
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
}

.main-button:hover {
  background-color: #b171ea;
}

.dropzone {
  background: white;
  border-radius: 5px;
  border: 2px dashed #0087f7;
  -o-border-image: none;
     border-image: none;
  max-width: 500px;
  color: #333;
  margin: 50px auto;
}

#sortable .ui-sortable-handle {
  width: auto;
  height: auto;
  overflow: hidden;
  margin: 5px 0 0 5px;
  cursor: -webkit-grab;
  cursor: grab;
}

#sortable .ui-sortable-handle .image {
  vertical-align: middle;
  width: 100%;
  height: auto;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#sortable .ui-sortable-handle .image.favorite {
  border: 2px solid #f5e741;
}

#sortable .ui-sortable-handle .deleteImage {
  position: absolute;
  right: 20px;
  top: 5px;
  line-height: 20px;
  width: 25px;
  height: 25px;
  text-align: center;
  color: #FFF;
  cursor: pointer;
}

#sortable .ui-sortable-handle .deleteImage i {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  line-height: 25px;
  vertical-align: middle;
  font-size: 1.2em;
}

#sortable .ui-sortable-handle .deleteImage:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: red;
}

#sortable .ui-sortable-handle .favoriteImage {
  position: absolute;
  top: 5px;
  left: 20px;
  text-align: center;
  color: #FFF;
  line-height: 20px;
  cursor: pointer;
}

#sortable .ui-sortable-handle .favoriteImage i {
  font-size: 1.2em;
  color: #f5e741;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

#sortable .ui-sortable-handle:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

@media (min-width: 992px) {
  #sortable .ui-sortable-handle {
    width: 200px;
    height: 150px;
    margin: 5px 0 0 5px;
  }
  #sortable .image {
    vertical-align: middle;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
/*# sourceMappingURL=gallery.css.map */