<!DOCTYPE html>
<html lang={{lang}}>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# fuentes #}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Raleway" rel="stylesheet">
        <link href="/assets/bootstrap/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/bootstrap/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
        {# estilos de bootstrap #}
        <link href="/assets/bootstrap/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/bootstrap/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/bootstrap/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/bootstrap/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color">
        <link href="/assets/bootstrap/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css">

        {# custom styles #}
        {% if styles is defined and styles is not empty %}
            {% for style in styles %}
                <link rel="stylesheet" href="/assets/css/{{style}}" />
            {% endfor %}
        {% endif %}
        
        

    </head>
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-sidebar-mobile-offcanvas page-md">
        {% include 'shell/head.html.twig' %}
        <div class="page-container">
            {% include 'shell/sidebar.html.twig' %}
            <div class="page-content-wrapper">
                <div class="page-content">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
    <footer>

    {# js de bootstrap #}
    <script src="/assets/bootstrap/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/bootstrap/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/bootstrap/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/bootstrap/global/scripts/app.min.js" type="text/javascript"></script>
    <script src="/assets/bootstrap/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
    <script src="/assets/bootstrap/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="/assets/bootstrap/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
    {# custom js #}
    {% if scripts is defined and scripts is not empty %}
        {% for script in scripts %}
            <script src="/assets/js/{{script}}"></script>
        {% endfor %}
    {% endif %}
    </footer>
</html>
